* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--secondaryBackground);
    
}

:root {
    --background: #2EB2D3;
    --secondaryBackground: #10131A;
    --text: #EFF0F2;
    --background-color: #2EB2D3;


}

nav {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    background-color: #0a0a0a;
    width: 100%;
}

#navbarNav ul li {
    padding: 10px;
}

#navbarNav ul li a {
    color: white;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 4px 16px 4px 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

#navbarNav ul li a:hover {
    transform: scale(1.1);

}

.home-container {
    margin-top: 50px;
    width: 100%;
    color: var(--text);
}

#homecol2 {
    margin-top: 80px;
    margin-bottom: 50px;

}

#homecol2 img {
    height: 380px;
    width: 380px;
    border-radius: 50%;
    box-shadow: 1px 1px 30px var(--background);
    margin-bottom: 50px;
}

#homecol1 {

    margin-top: 130px;
    margin-bottom: 60px;
}

#home h1 span {
    color: #2EB2D3;
}

#home-btn {
    letter-spacing: 8px;
}

#home-btn button {
    font-weight: 600;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    font-size: 13px;
    border: none;
    background-color: var(--background);
    box-shadow: 1px 1px 10px var(--background);


}

#home-btn button:hover {
    background-color: white;
    transform: scale(1.1);
    transform: translateY(-5px);
}

hr {
    width: 100%;
    color: var(--background);
}

#about-content {
    width: 100%;
}


#aboutcol1,
#aboutcol2 {
    margin-left: 20px;
}
#heading {
    filter: drop-shadow(1px 1px 5px var(--background));
}

#course {
    color: var(--background);
    font-weight: 800;
    font-size: 20px;
}

#year {
    font-weight: 800;
}

.skill-container {
    color: white;
}

#skills-content {
    width: 100%;

}

#skillcol1,
#skillcol2 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.progress-bar {
    background-color: var(--background);

}

#project-content img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#work-heading {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: var(--text);
    background-color: var(--background);
    filter: drop-shadow(1px 1px 5px var(--background));
}

#icons i {
    font-size: 30px;
    cursor: pointer;
    letter-spacing: 10px;
    filter: drop-shadow(1px 1px 10px var(--background));

}

#icons i:hover {
    color: var(--background);
    transform: scale(1.1);
}

form {
    width: 95%;
}

#servicecol{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-body {
    background-color: #21242b;
    color: white;


}

.card {
    border: none;
    height: 350px;
}

.card:hover {
    border: 1px solid var(--background);
    box-shadow: 1px 1px 20px var(--background);
    transform: scale(1.1);
    transform: translateY(-15px);
}

.card-body h4 {
    color: var(--background);
}

.card-body i {
    font-size: 25px;
    color: var(--background);
    margin-top: 30px;

}

.card-body a {
    background-color: var(--background);
    box-shadow: 1px 1px 10px var(--background);
}

.card-body a:hover {
    background-color: var(--text);
    color: black;
}

#contact-section {
    color: white;
}

#contactcol1,
#contactcol2 {
    margin-left: 20px;
}

.btn {
    background-color: white;
}

.btn:hover {
    background-color: var(--background);
    transform: scale(1.1);
}

@media only screen and (max-width: 360px) {
    #homecol1 {
        text-align: center;

    }

    #homecol2 {
        width: 90px !important;
        align-self: center;
        justify-content: center;
        display: flex;
    }
   
}


@media only screen and (max-width: 430px) {
    .navbar-toggler {
        margin-right: 15px;
    }

    #homecol2 img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: -40px;
    }

    #homecol1 {
        text-align: center;

    }
   
}

@media only screen and (max-width: 540px) {
    #homecol1 {
        text-align: center;
    }

}

@media only screen and (max-width: 768px) {

    #homecol2 {
        width: 300px !important;
        align-self: center;
        justify-content: center;
        display: flex;

    }
}

@media only screen and (max-width: 853px) {
    .navbar-toggler {
        margin-right: 15px;
    }

    #homecol2 img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    #homecol1 {
        margin-top: 50px;

    }

}

@media only screen and (max-width: 820px) {
    #home-btn button {
        font-weight: 600;
        height: 30px;
        width: 95px;
        border-radius: 15px;
        font-size: 13px;
        border: none;
        background-color: var(--background);
    }

    #homecol1 {
        margin-top: 70px;

    }
}

@media only screen and (max-width: 768px) {
    #home-btn {
        letter-spacing: 8px;
    }

    #home-btn button {
        font-weight: 600;
        height: 30px;
        width: 90px;
        border-radius: 15px;
        font-size: 12px;
    }

    #homecol1 {
        margin-top: 70px;

    }

}

@media only screen and (max-width: 1024px) {
    #homecol2 img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }

    #homecol1 {
        margin-top: 80px;

    }
}
